config.stopbubbling=true
lombok.addLombokGeneratedAnnotation=true

# Configuracao necessaria para funcionar a serializacao/deserializacao com Jackson
# das classes imutaveis anotadas com @Value
lombok.anyconstructor.addconstructorproperties=true

# Nao funciona com o MapStruct
#lombok.accessors.chain=true
#lombok.accessors.fluent=true